html
  head
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript')
      $(function() {
        $('form').on('submit', function() {
          $(this).find('input[type="submit"]').attr('disabled', true);
          $('.finding').show();
        });
      });
  body!= body
